* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 35px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-self: center;
  width:10%;
  height: 140%;
}

.movies {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

.movie-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  background-color: white;
}

.movie-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 7px;
  object-fit: cover;
}

.movie-card > h3 {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 10px;
}

#bookBtn {
  background-color: rgb(240, 32, 32);
  width: 50px;
  height: 25px;
  border: rgb(240, 32, 32);
  margin-top: 7px;
  border-radius: 5px;
  color: white;
}

#bookBtn:hover {
  cursor: pointer;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > p {
  margin-block: 2px;
  font-size: 12px;
  color: #2B283A;
}

.paymentSuccess {
  margin: 50px 30%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paymentSuccess > h2 {
  color: green;
  margin-bottom: 00;
}

.paymentSuccess > h3{
  margin: 0;
  margin-top: 10px;
}

.paymentSuccessLogo {
  width: 70%;
  margin-top: 10px;
}

.seatDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  color: #4d4c52;
}
.seatDetails > h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.seatDetails > h3 {
  margin: 0;
  margin-bottom: 15px
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0 25%;
  padding-top: 10px;
  background-color: rgb(182, 199, 214);
}

form > div {
  width: 100%;
}

form > label {
  padding-top: 10px;
}

form > div > input {
  height: 30px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

form > div > span {
  color: red;
}

form > div > p, form > p {
  color: red;
  margin: 0;
  font-size: small;
  display: flex;
}

form > div > p {
  margin-left: 5%;
}

.formField {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
}

.formField > label {
  margin-right: 5px;
  margin-top: 6px;
  font-size: 0.9em;
}

.formField > input {
  margin-left: 5px;
  width: 13%;
  color: red;
}

form > .formButtons {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

#btn1, #btn2, .bookingProccedBtn, .bookingBackBtn, #paymentSuccessBtnId {
  height: 25px;
  background-color: rgb(136, 174, 180);
  cursor: pointer;
}

#btn1 {
  margin-left: 25px;
  margin-right: 28px;
}

#btn2 {
  margin-right: 25px;
  margin-left: 28px;
}

.seats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input[type = 'checkbox'] {
  margin-right: 15px;
  height: 20px;
  width: 20px;
}

[type="checkbox"]:disabled {
  outline: 1px dotted red;
  color: blue;
}

[type="checkbox"]:not(:disabled) {
  outline: 1px outset green;
  cursor: pointer;
}

[type="checkbox"]:checked {
  outline: 2px outset green;
}

.dummyCheckboxes {
  margin: 5px 0;
  font-size: small;
}

.dummyCheckboxes > span > [type="checkbox"] {
  width: 12px;
  height: 12px;
  cursor: default;
}

.seatF > input[type = 'checkbox'] {
  margin-right: 12.5px;
  margin-bottom: 9px;
}

small {
  color: rgba(138, 136, 243, 0.788);
  margin-right: 10px;
  margin-bottom: 5px;
}

.booking, .paymentSuccessBtn {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

#paymentSuccessBtnId {
  display: flex;
  align-self: center;
  margin: 20px;
}

.bookingBtn {
  display: flex;
  align-self: center;
}

.bookingBackBtn {
  margin-left: 0;
  margin-right: 70px;
}

.bookingProccedBtn {
  margin-right: 0;
  margin-left: 70px;
}

.booking > h2 {
  display: flex;
  align-self: center;
  justify-content: center;
  color: #4d4c52;
  margin: 10px;
}

.booking > p {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 0;
  font-size:13px;
}

.booking > #movieImg {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 120px;
  margin: 0
}

.booking > #theatreScreen {
  width:300px;
  height: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 3px;
  margin-left: 25px;
}

.seatD {
  margin-top: 10px;
}

footer {
  position:absolute;
  bottom: 0;
  color: #2B283A;
}